.main{
  background-color: rgb(44, 51, 51); 
  min-height: 100vh;
  min-width: 100vh;
}
.App {
  text-align: left;
  min-height: 100vh;
  min-width: 100vh;
  color:violet;
  
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(218, 14, 14);
}



.redLetter{
  color: red;
}

.type_it {
  padding-left: 100px;
}



.user_input {
  width:90%;
  position: absolute;
  top: 400px;
  font-size: 75px;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgb(253, 253, 253, .8);
  outline: none; 
  z-index: 3;
  border: 2px double rgb(203, 228, 222); 
  background-color: transparent;
  color: rgb(166, 172, 172); 

  
}


.word_scroll {
  width:90%;
  position: absolute;
  top: 400px;
  font-size: 75px;
  outline: none; 
  z-index: 2;
  border: 2px solid transparent;
  background-color: transparent;
  color:rgb(100, 117, 117); 
}

.display_error {
  width:90%;
  position: absolute;
  top: 400px;
  font-size: 75px;
  outline: none; 
  z-index: 2;
  border: 2px solid transparent;
  background-color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgb(248, 62, 62, .8);
  color:rgb(243, 171, 171);
}

.live_stats{
  position: absolute;
  top: 320px;
  padding-left: 110px;
  color: white;
  column-gap: 10px;
}

.word_show{
  display: flex;
  position: absolute;
  top: 350px;
  padding-left: 80%;
  gap: 10px;
}




.timer{
  color: white;
}
